section.invest-section
  .wrapper
    .invest-section__container
      img.invest-section__img-top(src="images/invest-section-img-top.png" loading="lazy" width="1068" height="1118" alt="image")
      img.invest-section__img-bottom(src="images/invest-section-img-bottom.png" loading="lazy" width="738" height="1160" alt="image")
      h2.invest-section__title.font-w-bold.font-s-56.text-up
        | Доступные форматы 
        br.no-br
        span.color-yellow для партнеров
      .swiper-invest
        .invest-section__cards.swiper-wrapper
          .invest-section__card.swiper-slide
            .invest-section__card-title.font-w-bold.font-s-35.text-up Островок
            .invest-section__card-sub-title.font-w-etp-regular.font-s-22 Площадь: 6-9 м2
            img.invest-section__card-img(src="images/invest-section-card-img-1.jpg" loading="lazy" width="600" height="436" alt="image")
            .invest-section__card-text.font-w-elp-regular.font-s-18 Скачайте подробное описание <br class="no-br-md"> формата и финансовую модель
            button.btn(data-remodal-target="modal-form-plan") скачать
          .invest-section__card.swiper-slide
            .invest-section__card-title.font-w-bold.font-s-35.text-up Торговая точка
            .invest-section__card-sub-title.font-w-etp-regular.font-s-22 Площадь: 9-15 м2
            img.invest-section__card-img(src="images/invest-section-card-img-2.jpg" loading="lazy" width="600" height="436" alt="image")
            .invest-section__card-text.font-w-elp-regular.font-s-18 Скачайте подробное описание <br class="no-br-md"> формата и финансовую модель
            button.btn(data-remodal-target="modal-form-plan") скачать
          .invest-section__card.swiper-slide
            .invest-section__card-title.font-w-bold.font-s-35.text-up Магазин
            .invest-section__card-sub-title.font-w-etp-regular.font-s-22 Площадь: 50-100 м2
            img.invest-section__card-img(src="images/invest-section-card-img-3.jpg" loading="lazy" width="600" height="436" alt="image")
            .invest-section__card-text.font-w-elp-regular.font-s-18 Скачайте подробное описание <br class="no-br-md"> формата и финансовую модель
            button.btn(data-remodal-target="modal-form-plan") скачать
        .invest-pagination.swiper-progress-invest
