section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-w-bold.font-s-56.text-up.text-center
        | Основные 
        span.color-pink этапы запуска
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-1.svg" loading="lazy" width="40" height="40" alt="icon")
            .steps-section__card-text.font-w-elp-regular.font-s-16
              | Заключение договора 
              br.no-br-md
              | франшизы
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-2.svg" loading="lazy" width="40" height="40" alt="icon")
            .steps-section__card-text.font-w-elp-regular.font-s-16
              | Поиск помещения
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-3.svg" loading="lazy" width="40" height="40" alt="icon")
            .steps-section__card-text.font-w-elp-regular.font-s-16
              | Заключение договора 
              br.no-br-md
              | аренды
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-4.svg" loading="lazy" width="40" height="40" alt="icon")
            .steps-section__card-text.font-w-elp-regular.font-s-16
              | Поиск персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-5.svg" loading="lazy" width="40" height="40" alt="icon")
            .steps-section__card-text.font-w-elp-regular.font-s-16
              | Формирование 
              br.no-br-md
              | первичных запасов 
              br.no-br-md
              | товара и расходных 
              br.no-br-md
              | материалов
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-6.svg" loading="lazy" width="40" height="40" alt="icon")
            .steps-section__card-text.font-w-elp-regular.font-s-16
              | Изготовление 
              br.no-br-md
              | и доставка 
              br.no-br-md
              | оборудования
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-7.svg" loading="lazy" width="40" height="40" alt="icon")
            .steps-section__card-text.font-w-elp-regular.font-s-16
              | Обучение персонала
          .steps-section__card.swiper-slide
            img.steps-section__card-icon(src="images/steps-section-card-icon-8.svg" loading="lazy" width="40" height="40" alt="icon")
            .steps-section__card-text.font-w-elp-regular.font-s-16
              | Официальное 
              br.no-br-md
              | открытие
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        .steps-section__bottom-line
        .steps-section__bottom-title.font-w-bold.font-s-32.text-up
          | Работаем строго 
          span.color-pink по договору,
        .font-w-emp-regular.font-s-28
          | в котором описаны наши обязанности 
          br.no-br
          | и все условия сотрудничества
        button.btn(data-remodal-target="modal-form-agreement") Скачать пример договора
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="1226" height="916" alt="image")
